<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ConnectionString" value="" />
    <add key="QueriesLocation" value="" />
    <add key="DataForImport" value="" />
    <add key="Upload.ChunkSize" value="60" />
    <add key="Upload.LatencyBetweenRequests" value="250"/>
  </appSettings>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
  </startup>
</configuration>